body{
    background-size: cover;
    background-position: center;
    background-image: url(/images/9b0d5c84efe5310039edbfb45706547f.jpg) ;
    background-repeat: no-repeat;
    margin: 0;
}
header{
    background-color: black;
}
.flex-container{
    display: flex;
}
.header-left{
    flex: 50%;
}
.header-right{
    flex: 50%;
}
header ul li {
    display: inline;
    margin-left: 40px;
}
header ul li a{
    color: wheat;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}
header ul li a:hover{ 
    color:blueviolet;
}
.container2{
    background-color:tomato ;
    display: flex;
}
.home{
    flex:80%;
    word-spacing:55px;
    margin-top: 25px;
    text-align: center;
}
.log{
    flex:20%;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
    font-weight: 900;
}
a:hover{
    color: bisque;
}
nav ul li{
    display: inline;
    margin-left: 80px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 15px;
    transition: 1s;

}
nav ul li a:hover{
    color:white;
    font-weight: bold;
}
li.dropdown{
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: wheat;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0,0, 0.2);
    z-index: 1;
}
.dropdown-content a{
    color: rgb(0, 0, 0);
    padding: 15px 17px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown a:hover{
    background-color: rgb(134, 64, 64);
}
.dropdown:hover .dropdown-content{
    display: block;
}